@import url('https://fonts.googleapis.com/css?family=Alata&display=swap');

main {
  flex: 1 0 auto;
}

body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  background-color: #366A90;
}

nav {
  background-color: #e88c30;
  font-family: 'Alata', sans-serif;
}

a {
  text-align: center;
}

a.sidenavLink {
  font-family: 'Alata', sans-serif;
}

.page-footer {
  background-color: burlywood;
}

#headings {
  text-align: center;
}

p {
  color: white;
}

h3 {
  text-align: center;
  font-family: 'Alata', sans-serif;
  color: white;
}

.sidenavIcon {
  font-size: 22px;
}
